<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.BaseURL }}">
        {{ if site.Params.logo }}
        <img src="{{ site.Params.logo | absURL }}" alt="{{site.Title}}" height="38">
        {{ else if and site.Params.Title site.Params.Subtitle }}
        <div class="titlesub">
          <div class="titlesub-title">{{ site.Params.Title }}</div>
          <div class="titlesub-subtitle">{{ site.Params.Subtitle }}</div>
        </div>
        {{ else }}
        <h3>{{ site.Title }}</h3>
        {{ end }}
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {{ range site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL}}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</header>
