{{ define "main" }}

<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

<!--page header-->
<section class="landing-title">
  <div class="container mt100 mb100">

    <div class="type-text">
      <span>My name is {{ site.Params.Firstname }} and I'm a </span>
      <span id="typetext"></span>
    </div>
  </div>
</section>

<!--portfolio section header-->
<div class="row">
  <div class="col-12 text-center">
    {{ with .Site.Params.headings.portfolio }}
      <p class="section-title">{{ . }}</p>
    {{ else }}
      <p class="section-title">Portfolio</p>
    {{ end }}
  </div>
</div>

<!--portfolio-->
{{ partial "portfolio_section.html" . }}

<!--build js for typewriter-->
{{- $js := resources.Get "js/typewriter.js" -}}
{{- $opts := dict 
  "params" (dict "textlist" site.Params.Attributes) 
-}}
{{- $js = $js | js.Build $opts -}}
<script src="{{ $js.Permalink }}"></script>

{{ end }}